.about-title {
  font-size: 20px;
  color: white;
  text-align: center;
  margin-bottom: 10px;
}

hr {
  color: white;
}

.mission-statement {
  background-color: rgba(249, 248, 248, 0.808);
}

p {
  text-indent: 25px;
  margin: auto;
  font-size: 14px;
}
