.bug-table {
  border-radius: 20px;
  text-align: center;
  color: white;

  box-shadow: rgb(179, 15, 194) 0px 0px 15px 2px;
  background: linear-gradient(-80deg, #2220205c, #645d9c, #110b39);
  background-size: 300% 300%;
}

.scrollit {
  overflow-y: scroll;
  height: 320px;
  justify-content: center;
}

.delete-bg {
  background: linear-gradient(-80deg, #2220205c, #645d9c, #110b39);
  border-color: rgba(141, 84, 147, 0.579);
  box-shadow: rgb(247, 5, 5) 0px 0px 5px 1px;
}

.delete-bg:hover {
  background: linear-gradient(-80deg, #2220205c, #645d9c, #110b39);
  border-color: rgba(141, 84, 147, 0.579);
  box-shadow: rgb(255, 255, 255) 0px 0px 5px 1px;
  cursor: pointer;
}

/* .bug-search-bar {
  height: 30px;
  padding: 5px;
  color: white;
  width: 100px;
  max-width: 100%;
  margin-left: 500px;

  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 10px;
  background: white;
  box-shadow: rgb(255, 255, 255) 0px 0px 5px 1px;
}

.bug-search-bar::placeholder {
  color: rgb(86, 74, 74);
} */
