.bugtable-header {
  background-color: #000000;
  border-bottom: 1px solid #d6d6d6;
  padding: 10px;
  text-align: left;
}

.bugtable-paper {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.274) 2px 2px 5px 2px;
  margin-bottom: 20px;
  margin-right: 50px;
  float: right;
}
