.bug-table {
  border: 1px solid #d6d6d6;
  width: 40%;
  max-width: 40%;
  border-radius: 20px;
  text-align: center;
  color: white;
  float: right;
  margin-right: 50px;
  margin-top: 110px;
  box-shadow: rgb(179, 15, 194) 0px 0px 15px 2px;
  border-collapse: separate !important;
  background: linear-gradient(-80deg, #2220205c, #645d9c, #110b39);
  background-size: 300% 300%;
  border-color: rgba(141, 84, 147, 0.579);
}

table {
  table-layout: fixed;
  width: 100%;
}

td {
  width: 100px;
  height: 10px;
}

.delete-bg {
  background: linear-gradient(-80deg, #2220205c, #645d9c, #110b39);
  border-color: rgba(141, 84, 147, 0.579);
  box-shadow: rgb(247, 5, 5) 0px 0px 5px 1px;
}

.delete-bg:hover {
  background: linear-gradient(-80deg, #2220205c, #645d9c, #110b39);
  border-color: rgba(141, 84, 147, 0.579);
  box-shadow: rgb(255, 255, 255) 0px 0px 5px 1px;
  cursor: pointer;
}

.bug-search-bar {
  height: 30px;
  padding: 5px;
  color: white;
  width: 300px;
  max-width: 100%;
  margin-left: 500px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 10px;
  background: white;
  box-shadow: rgb(255, 255, 255) 0px 0px 5px 1px;
}

.bug-search-bar::placeholder {
  color: rgb(86, 74, 74);
}
