.contact-title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 50px;
}

.contact-form-background {
  background-color: rgba(227, 215, 229, 0.653);
  width: 50%;
  max-width: 100%;
  border: rgb(255, 255, 255) solid 1px;
  height: 500px;
  border-radius: 15px;
  margin: auto;
  padding: 30px;
  text-align: left;
  box-shadow: 0px 0px 10px rgba(206, 6, 224, 0.837);
}

.contact-button {
  color: rgb(0, 0, 0);
  background-color: rgb(126, 234, 124);
  border: 1px solid #ffffff;
}
