.contact-title {
  font-size: 20px;
  text-align: center;
  color: white;
}

.contact-form-background {
  background-color: rgba(227, 215, 229, 0.653);
  width: 100%;
  max-width: 100%;
  border: rgb(255, 255, 255) solid 1px;
  height: 350px;
  border-radius: 15px;
  margin: auto;
  justify-content: center;
  padding: 30px;
  text-align: left;
  background-color: rgba(249, 248, 248, 0.808);
}

.contact-button {
  color: rgb(255, 255, 255);
  margin: auto;
  width: 100%;
  background-image: linear-gradient(
    to right,
    #8c26b8 0%,
    #f700ff 51%,
    #a112df 100%
  );
  border: 1px solid #000000;
}

@media only screen and (min-width: 1200px) {
  .contact-title {
    font-size: 20px;
    text-align: center;
    color: white;
    margin-top: 500px;
  }

  .contact-form-background {
    background-color: rgba(227, 215, 229, 0.653);
    width: 100%;
    max-width: 100%;
    border: rgb(255, 255, 255) solid 1px;
    height: 350px;
    border-radius: 15px;
    margin: auto;
    justify-content: center;
    padding: 30px;
    text-align: left;
    background-color: rgba(249, 248, 248, 0.808);
  }

  .contact-button {
    color: rgb(255, 255, 255);
    margin: auto;
    width: 100%;
    background-image: linear-gradient(
      to right,
      #8c26b8 0%,
      #f700ff 51%,
      #a112df 100%
    );
    border: 1px solid #000000;
  }
}

@media only screen and (min-width: 1400px) {
  .contact-title {
    font-size: 20px;
    text-align: center;
    color: white;
    margin-top: 500px;
  }

  .contact-form-background {
    background-color: rgba(227, 215, 229, 0.653);
    width: 100%;
    max-width: 100%;
    border: rgb(255, 255, 255) solid 1px;
    height: 350px;
    border-radius: 15px;
    margin: auto;
    justify-content: center;
    padding: 30px;
    text-align: left;
    background-color: rgba(249, 248, 248, 0.808);
  }

  .contact-button {
    color: rgb(255, 255, 255);
    margin: auto;
    width: 100%;
    background-image: linear-gradient(
      to right,
      #8c26b8 0%,
      #f700ff 51%,
      #a112df 100%
    );
    border: 1px solid #000000;
  }
}
