html {
  font-size: 14px;
  height: max-content;
}

.App {
  display: flex;
}

body {
  height: 100vh;
  margin: 0;
  background: radial-gradient(#5550505c, #af77c9, #250130, #4c0554, #141718);
  background-repeat: no-repeat;
  background-size: 500% 500%;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

@media screen and (max-width: 600px) {
  .dashboard-background {
    background-color: rgba(0, 0, 0, 0);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    max-height: 100%;
    width: calc(100% - 20px);
    top: 0;
    left: 0;
    z-index: -1;
  }

  .dashboard-card {
    border: 1px solid #d6d6d6;
    padding: 10px;
    max-width: 100%;
    border-radius: 20px;
    text-align: left;
    color: white;
    position: relative;
    top: 750px;
    box-shadow: rgb(179, 15, 194) 0px 0px 15px 2px;
    border-collapse: separate !important;
    background: linear-gradient(-80deg, #2220205c, #645d9c, #110b39);
    background-size: 300% 300%;
    border-color: rgb(179, 15, 194);
  }
}

@media screen and (min-width: 600px) {
  .dashboard-background {
    background-color: rgba(0, 0, 0, 0);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    max-height: 100%;
    width: calc(100% - 20px);
    top: 0;
    left: 0;
    z-index: -1;
  }

  .dashboard-content-background {
    background-color: rgba(0, 0, 0, 0.705);
    border-top-left-radius: 120px;
    margin-left: 80px;
    margin-top: 80px;
    max-height: 100%;
    height: calc(100vh - 80px);
    width: calc(100vw - 80px);
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.75);
    z-index: 1;
  }

  .dashboard-card {
    border: 1px solid #d6d6d6;
    padding: 10px;
    width: 50%;
    max-width: 100%;
    border-radius: 20px;
    text-align: left;
    color: white;
    float: left;
    margin-left: 50px;
    margin-top: 70px;
    margin-bottom: -50px;
    box-shadow: rgb(179, 15, 194) 0px 0px 15px 2px;
    border-collapse: separate !important;
    background: linear-gradient(-80deg, #2220205c, #645d9c, #110b39);
    background-size: 300% 300%;
    border-color: rgb(179, 15, 194);
  }
}

@media screen and (min-width: 768px) {
  .dashboard-background {
    background-color: rgba(0, 0, 0, 0);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    max-height: 100%;
    width: calc(100% - 20px);
    top: 0;
    left: 0;
    z-index: -1;
  }

  .dashboard-content-background {
    background-color: rgba(0, 0, 0, 0.705);
    border-top-left-radius: 120px;
    margin-left: 80px;
    margin-top: 80px;
    max-height: 100%;
    height: calc(100vh - 80px);
    width: calc(100vw - 80px);
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.75);
    z-index: 1;
  }

  .dashboard-card {
    border: 1px solid #d6d6d6;
    padding: 10px;
    width: 50%;
    max-width: 100%;
    border-radius: 20px;
    text-align: left;
    color: white;
    float: left;
    margin-left: 50px;
    margin-top: 70px;
    margin-bottom: -50px;
    box-shadow: rgb(179, 15, 194) 0px 0px 15px 2px;
    border-collapse: separate !important;
    background: linear-gradient(-80deg, #2220205c, #645d9c, #110b39);
    background-size: 300% 300%;
    border-color: rgb(179, 15, 194);
  }
}

@media screen and (min-width: 992px) {
  .dashboard-background {
    background-color: rgba(0, 0, 0, 0);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    max-height: 100%;
    width: calc(100% - 20px);
    top: 0;
    left: 0;
    z-index: -1;
  }

  .dashboard-content-background {
    background-color: rgba(0, 0, 0, 0.705);
    border-top-left-radius: 120px;
    margin-left: 80px;
    margin-top: 80px;
    max-height: 100%;
    height: calc(100vh - 80px);
    width: calc(100vw - 80px);
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.75);
    z-index: 1;
  }

  .dashboard-card {
    border: 1px solid #d6d6d6;
    padding: 10px;
    width: 50%;
    max-width: 100%;
    border-radius: 20px;
    text-align: left;
    color: white;
    float: left;
    margin-left: 50px;
    margin-top: 70px;
    margin-bottom: -50px;
    box-shadow: rgb(179, 15, 194) 0px 0px 15px 2px;
    border-collapse: separate !important;
    background: linear-gradient(-80deg, #2220205c, #645d9c, #110b39);
    background-size: 300% 300%;
    border-color: rgb(179, 15, 194);
  }
}

@media screen and (min-width: 1200px) {
  .dashboard-background {
    background-color: rgba(0, 0, 0, 0);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    max-height: 100%;
    width: calc(100% - 20px);
    top: 0;
    left: 0;
    z-index: -1;
  }

  .dashboard-content-background {
    background-color: rgba(0, 0, 0, 0.705);
    border-top-left-radius: 120px;
    margin-left: 80px;
    margin-top: 80px;
    max-height: 100%;
    height: calc(100vh - 80px);
    width: calc(100vw - 80px);
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.75);
    z-index: 1;
  }

  .dashboard-card {
    border: 1px solid #d6d6d6;
    padding: 10px;
    width: 50%;
    max-width: 100%;
    border-radius: 20px;
    text-align: left;
    color: white;
    float: left;
    margin-left: 50px;
    margin-top: 70px;
    margin-bottom: -50px;
    box-shadow: rgb(179, 15, 194) 0px 0px 15px 2px;
    border-collapse: separate !important;
    background: linear-gradient(-80deg, #2220205c, #645d9c, #110b39);
    background-size: 300% 300%;
    border-color: rgb(179, 15, 194);
  }
}

@media screen and (min-width: 1400px) {
  .dashboard-background {
    background-color: rgba(0, 0, 0, 0);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    max-height: 100%;
    width: calc(100% - 20px);
    top: 0;
    left: 0;
    z-index: -1;
  }

  .dashboard-content-background {
    background-color: rgba(0, 0, 0, 0.705);
    border-top-left-radius: 120px;
    margin-left: 80px;
    margin-top: 80px;
    max-height: 100%;
    height: calc(100vh - 80px);
    width: calc(100vw - 80px);
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.75);
    z-index: 1;
  }

  .dashboard-card {
    border: 1px solid #d6d6d6;
    padding: 10px;
    width: 50%;
    max-width: 100%;
    border-radius: 20px;
    text-align: left;
    color: white;
    float: left;
    margin-left: 50px;
    margin-top: 70px;
    margin-bottom: -50px;
    box-shadow: rgb(179, 15, 194) 0px 0px 15px 2px;
    border-collapse: separate !important;
    background: linear-gradient(-80deg, #2220205c, #645d9c, #110b39);
    background-size: 300% 300%;
    border-color: rgb(179, 15, 194);
  }
}
