/* BEGINNING OF SMALL MOBILE STYLING */

@media only screen and (max-width: 600px) {
  .landing-page-heading-after-auth {
    margin-top: 3%;
    margin-left: 5%;
    width: fit-content;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  .landing-page-heading-before-auth {
    margin-top: 9%;
    margin-left: 5%;
    width: fit-content;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  .mission-statement {
    border-radius: 20px;
    padding: 15px;
  }

  .about-title {
    text-align: center;
    position: relative;
    left: -10px;
  }

  #demo-button {
    margin: auto;
    width: fit-content;
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: 60px !important;
    color: blueviolet;
    margin-top: 20px;
    margin-bottom: -10px;
    text-shadow: 0 1px 15px rgb(0, 0, 0), 0 1px 15px;
  }

  h2 {
    margin-top: 35px;
    font-size: 30px;
    color: white;
    margin-bottom: -10px;
  }

  h3 {
    margin-top: 25px;
    font-size: 20px;
    color: white;
  }

  .home-container {
    margin-top: 15px;
    width: fit-content;
    max-width: 100%;
    margin: auto;
  }

  .developer-word {
    color: blueviolet;
  }

  .device-mockups {
    position: relative;
    width: 1300px;
    max-width: 100%;
    margin: auto;
    margin-left: 200px;
    display: none;
  }

  .fade-in-image {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-o-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-ms-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  hr {
    color: white;
  }

  .about-container {
    width: fit-content;
    max-width: 100%;
    border-radius: 15px;
    margin: auto;
    display: flex;
    flex-direction: column;
    float: left;
    margin-top: 50px;
  }

  .testimonials-container {
    width: fit-content;
    max-width: 100%;
    margin: auto;
    display: flex;
    margin-top: 150px;
  }

  .contact-container {
    width: 100%;
    max-width: 100%;
    margin: auto;
    margin-bottom: -200px;
    margin-top: 100px;
  }

  .footer-container {
    width: 100%;
    max-width: 100%;
    margin: auto;
  }
}

/* END OF MOBILE STYLING */

/* BEGINNING OF MODERN MOBILE STYLING */

@media only screen and (min-width: 600px) {
  .landing-page-heading-after-auth {
    margin-top: 3%;
    margin-left: 5%;
    width: fit-content;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  .mission-statement {
    border-radius: 20px;
    padding: 15px;
  }

  .about-title {
    text-align: center;
    position: relative;
    left: -10px;
  }

  .landing-page-heading-before-auth {
    margin-top: 9%;
    margin-left: 5%;
    width: fit-content;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  #demo-button {
    margin: auto;
    width: fit-content;
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: 60px !important;
    color: blueviolet;
    margin-top: 20px;
    margin-bottom: -10px;
    text-shadow: 0 1px 15px rgb(0, 0, 0), 0 1px 15px;
  }

  h2 {
    margin-top: 35px;
    font-size: 30px;
    color: white;
    margin-bottom: -10px;
  }

  h3 {
    margin-top: 25px;
    font-size: 20px;
    color: white;
  }

  .home-container {
    margin-top: 15px;
    width: fit-content;
    max-width: 100%;
    margin: auto;
  }

  .developer-word {
    color: blueviolet;
  }

  .device-mockups {
    position: relative;
    width: 1300px;
    max-width: 100%;
    margin: auto;
    margin-left: 200px;
    display: none;
  }

  .fade-in-image {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-o-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-ms-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  hr {
    color: white;
  }

  .about-container {
    width: fit-content;
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    float: left;
    margin-top: 50px;
  }

  .testimonials-container {
    width: fit-content;
    max-width: 100%;
    margin: auto;
    display: flex;
    margin-top: 150px;
  }

  .contact-container {
    width: 100%;
    max-width: 100%;
    margin: auto;
    margin-bottom: -200px;
    margin-top: 100px;
  }

  .footer-container {
    width: 100%;
    max-width: 100%;
    margin: auto;
  }
}

/* END OF MODERN MOBILE SYLING */

/* BEGINNING OF TABLET STYLING */

@media only screen and (min-width: 768px) {
  .landing-page-heading-after-auth {
    margin-top: 3%;
    margin-left: 5%;
    width: fit-content;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  .landing-page-heading-before-auth {
    margin-top: 9%;
    margin-left: 5%;
    width: fit-content;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  .mission-statement {
    border-radius: 20px;
    padding: 15px;
  }

  .about-title {
    text-align: center;
    position: relative;
    left: -10px;
  }

  #demo-button {
    margin: auto;
    margin-left: 100px;
    width: fit-content;
    max-width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: 60px !important;
    color: blueviolet;
    text-shadow: 0 1px 15px rgb(0, 0, 0), 0 1px 15px;
  }

  h2 {
    margin-top: 35px;
    font-size: 30px;
    color: white;
    margin-bottom: -10px;
  }

  h3 {
    margin-top: 25px;
    font-size: 20px;
    color: white;
  }

  .home-container {
    margin-top: 15px;
    width: fit-content;
    max-width: 100%;
    margin: auto;
  }

  .developer-word {
    color: blueviolet;
  }

  .device-mockups {
    position: relative;
    width: 1300px;
    max-width: 100%;
    margin: auto;
    margin-left: 200px;
    display: none;
  }

  .fade-in-image {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-o-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-ms-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  hr {
    color: white;
  }

  .about-container {
    width: fit-content;
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    float: left;
    margin-top: 50px;
  }

  .testimonials-container {
    width: fit-content;
    max-width: 100%;
    margin: auto;
    display: flex;
    margin-top: 150px;
  }

  .contact-container {
    width: 100%;
    max-width: 100%;
    margin: auto;
    margin-bottom: -200px;
    margin-top: 100px;
  }

  .footer-container {
    width: 100%;
    max-width: 100%;
    margin: auto;
  }
}

/* END OF TABLET STYLING */

/* BEGINNING OF SMALL LAPTOP SCREENS STYLING */

@media only screen and (min-width: 992px) {
  .landing-page-heading-after-auth {
    margin-top: 3%;
    margin-left: 5%;
    width: fit-content;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  .landing-page-heading-before-auth {
    margin-top: 9%;
    margin-left: 5%;
    width: fit-content;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  .mission-statement {
    border-radius: 20px;
    padding: 15px;
  }

  .about-title {
    text-align: center;
    position: relative;
    left: -10px;
  }

  #demo-button {
    margin: auto;
    margin-left: 100px;
    width: fit-content;
    max-width: 100%;
    margin-top: 100px;
    margin-bottom: -200px;
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: 90px !important;
    color: blueviolet;
    text-shadow: 0 1px 15px rgb(0, 0, 0), 0 1px 15px;
  }

  h2 {
    margin-top: 35px;
    font-size: 30px;
    color: white;
    margin-bottom: -10px;
  }

  h3 {
    margin-top: 25px;
    font-size: 20px;
    color: white;
  }

  .home-container {
    margin-top: 15px;
    width: fit-content;
    max-width: 100%;
    margin: auto;
  }

  .developer-word {
    color: blueviolet;
  }

  .device-mockups {
    position: relative;
    width: 1300px;
    max-width: 100%;
    margin: auto;
    margin-left: 200px;
    display: none;
  }

  #device-mockups-before-auth {
    width: 60%;
    max-width: 100%;
    display: flex;
    margin-left: 650px;
    margin-top: -30px;
    -webkit-filter: drop-shadow(2px 5px 21px #222);
    filter: drop-shadow(2px 5px 21px #222);
  }

  #device-mockups-after-auth {
    width: 60%;
    max-width: 100%;
    display: flex;
    margin-left: 650px;
    -webkit-filter: drop-shadow(2px 5px 21px #222);
    filter: drop-shadow(2px 5px 21px #222);
  }

  .fade-in-image {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-o-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-ms-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  hr {
    max-width: 100%;
    color: white;
  }

  .about-container {
    width: fit-content;
    max-width: 70%;
    margin-left: 150px;
  }

  #testimonials {
    margin-top: 50px;
    margin: auto;
  }

  .contact-container {
    width: 60%;
    max-width: 100%;
    margin: auto;
    margin-bottom: -200px;
    margin-top: 100px;
  }

  .footer-container {
    width: 100%;
    max-width: 100%;
    margin: auto;
  }
}

/* END OF SMALL LAPTOP SCREEN STYLING */

/* BEGINNING OF DESKTOPS & LARGER SCREEN STYLING */

@media only screen and (min-width: 1200px) {
  .landing-page-heading-after-auth {
    margin-top: 3%;
    margin-left: 5%;
    width: fit-content;
    max-width: 100%;
    display: flex;
    padding: 50px;
    flex-direction: column;
  }

  .landing-page-heading-before-auth {
    margin-top: 9%;
    margin-left: 5%;
    padding: 50px;
    width: fit-content;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  .mission-statement {
    border-radius: 20px;
    padding: 15px;
  }

  .about-title {
    text-align: center;
    position: relative;
    left: -10px;
  }

  #demo-button {
    margin: auto;
    margin-left: 300px;
    width: fit-content;
    max-width: 100%;
    margin-top: 100px;
    margin-bottom: -200px;
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: 90px !important;
    color: blueviolet;
    text-shadow: 0 1px 5px rgb(0, 0, 0), 0 1px 5px;
  }

  h2 {
    font-size: 40px;
    color: white;
  }

  h3 {
    font-size: 30px;
    color: white;
  }

  .home-container {
    width: 2000px;
    margin: auto;
    max-width: 100%;
    margin-top: -84px;
    height: fit-content;
    min-height: 100vh;
  }

  .developer-word {
    color: blueviolet;
  }

  #device-mockups-before-auth {
    width: 60%;
    max-width: 100%;
    display: flex;
    margin-left: 650px;
    margin-top: -30px;
    -webkit-filter: drop-shadow(2px 5px 21px #222);
    filter: drop-shadow(2px 5px 21px #222);
  }

  #device-mockups-after-auth {
    width: 60%;
    max-width: 100%;
    display: flex;
    margin-left: 650px;
    -webkit-filter: drop-shadow(2px 5px 21px #222);
    filter: drop-shadow(2px 5px 21px #222);
  }

  .fade-in-image {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-o-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-ms-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .about-container {
    width: 50%;
    max-width: 100%;
    margin: auto;
    display: flex;
    position: relative;
    left: 340px;
    flex-direction: column;
    float: left;
    margin-top: 50px;
  }

  .testimonials-container {
    width: 50%;
    max-width: 100%;
    margin: auto;
  }

  .contact-container {
    width: 50%;
    max-width: 100%;
    margin: auto;
    margin-bottom: -200px;
    margin-top: 100px;
  }

  .footer-container {
    width: 100%;
    max-width: 100%;
    margin: auto;
  }
}

/* END OF DESKTOP & LARGER SCREEN STYLING */

@media only screen and (min-width: 1400px) {
  .landing-page-heading-after-auth {
    margin-left: 5%;
    width: fit-content;
    padding: 20px;
    max-width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
  }

  .landing-page-heading-before-auth {
    margin-left: 5%;
    width: fit-content;
    max-width: 100%;
    display: flex;
    padding: 50px;
    flex-direction: column;
  }

  .mission-statement {
    border-radius: 20px;
    padding: 15px;
  }

  .about-title {
    text-align: center;
    position: relative;
    left: -10px;
  }

  #demo-button {
    margin: auto;
    margin-left: 300px;
    width: fit-content;
    max-width: 100%;
    margin-top: 100px;
    margin-bottom: -200px;
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: 90px !important;
    color: blueviolet;
    text-shadow: 0 1px 15px rgb(0, 0, 0), 0 1px 15px;
  }

  h2 {
    font-size: 40px;
    color: white;
  }

  h3 {
    font-size: 30px;
    color: white;
  }

  .home-container {
    width: 2000px;
    margin: auto;
    max-width: 100%;
    margin-top: -84px;
    height: fit-content;
    min-height: 100vh;
  }

  .developer-word {
    color: blueviolet;
  }

  #device-mockups-before-auth {
    width: 60%;
    max-width: 100%;
    display: flex;
    margin-left: 630px;
    margin-top: -30px;
    -webkit-filter: drop-shadow(2px 5px 21px #222);
    filter: drop-shadow(2px 5px 21px #222);
  }

  #device-mockups-after-auth {
    width: 60%;
    max-width: 100%;
    display: flex;
    margin-left: 630px;
    -webkit-filter: drop-shadow(2px 5px 21px #222);
    filter: drop-shadow(2px 5px 21px #222);
  }

  .fade-in-image {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-o-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-ms-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .about-container {
    width: 50%;
    max-width: 100%;
    margin: auto;
    position: relative;
    left: 350px;
    margin-top: 50px;
  }

  .testimonials-container {
    width: 50%;
    max-width: 100%;
    margin: auto;
  }

  .contact-container {
    width: 50%;
    max-width: 100%;
    margin: auto;
    margin-bottom: -200px;
    margin-top: 100px;
  }

  .footer-container {
    width: 100%;
    max-width: 100%;
    margin: auto;
  }
}

@media only screen and (min-width: 1400px) {
  .landing-page-heading-after-auth {
    margin-left: 5%;
    width: fit-content;
    padding: 20px;
    max-width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
  }

  .landing-page-heading-before-auth {
    margin-left: 5%;
    width: fit-content;
    max-width: 100%;
    display: flex;
    padding: 50px;
    flex-direction: column;
  }

  .mission-statement {
    border-radius: 20px;
    padding: 15px;
  }

  .about-title {
    text-align: center;
    position: relative;
    left: -10px;
  }

  #demo-button {
    margin: auto;
    margin-left: 300px;
    width: fit-content;
    max-width: 100%;
    margin-top: 100px;
    margin-bottom: -200px;
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: 90px !important;
    color: blueviolet;
    text-shadow: 0 1px 15px rgb(0, 0, 0), 0 1px 15px;
  }

  h2 {
    font-size: 40px;
    color: white;
  }

  h3 {
    font-size: 30px;
    color: white;
  }

  .home-container {
    width: 2000px;
    margin: auto;
    max-width: 100%;
    margin-top: -200px;
    height: fit-content;
    min-height: 90vh;
  }

  .developer-word {
    color: blueviolet;
  }

  #device-mockups-before-auth {
    width: 60%;
    max-width: 100%;
    display: flex;
    margin-left: 630px;
    margin-top: -30px;
    -webkit-filter: drop-shadow(2px 5px 21px #222);
    filter: drop-shadow(2px 5px 21px #222);
  }

  #device-mockups-after-auth {
    width: 60%;
    max-width: 100%;
    display: flex;
    margin-left: 630px;
    -webkit-filter: drop-shadow(2px 5px 21px #222);
    filter: drop-shadow(2px 5px 21px #222);
  }

  .fade-in-image {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-o-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-ms-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .about-container {
    width: 50%;
    max-width: 100%;
    margin: auto;
    position: relative;
    left: 400px;
    margin-top: 50px;
  }

  .testimonials-container {
    width: 50%;
    max-width: 100%;
    margin: auto;
  }

  .contact-container {
    width: 50%;
    max-width: 100%;
    margin: auto;
    margin-bottom: -200px;
    margin-top: 100px;
  }

  .footer-container {
    width: 100%;
    max-width: 100%;
    margin: auto;
  }
}

@media only screen and (min-width: 1400px) {
  .landing-page-heading-after-auth {
    margin-left: 5%;
    width: fit-content;
    padding: 20px;
    max-width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
  }

  .landing-page-heading-before-auth {
    margin-left: 5%;
    width: fit-content;
    max-width: 100%;
    display: flex;
    padding: 50px;
    flex-direction: column;
  }

  .mission-statement {
    border-radius: 20px;
    padding: 15px;
  }

  .about-title {
    text-align: center;
    position: relative;
    left: -10px;
  }

  #demo-button {
    margin: auto;
    margin-left: 300px;
    width: fit-content;
    max-width: 100%;
    margin-top: 100px;
    margin-bottom: -200px;
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: 90px !important;
    color: blueviolet;
    text-shadow: 0 1px 15px rgb(0, 0, 0), 0 1px 15px;
  }

  h2 {
    font-size: 40px;
    color: white;
  }

  h3 {
    font-size: 30px;
    color: white;
  }

  .home-container {
    width: 2000px;
    margin: auto;
    max-width: 100%;
    margin-top: -200px;
    height: fit-content;
    min-height: 90vh;
  }

  .developer-word {
    color: blueviolet;
  }

  #device-mockups-before-auth {
    width: 60%;
    max-width: 100%;
    display: flex;
    margin-left: 630px;
    margin-top: -30px;
    -webkit-filter: drop-shadow(2px 5px 21px #222);
    filter: drop-shadow(2px 5px 21px #222);
  }

  #device-mockups-after-auth {
    width: 60%;
    max-width: 100%;
    display: flex;
    margin-left: 630px;
    -webkit-filter: drop-shadow(2px 5px 21px #222);
    filter: drop-shadow(2px 5px 21px #222);
  }

  .fade-in-image {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-o-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-ms-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .about-container {
    width: 50%;
    max-width: 100%;
    margin: auto;
    position: relative;
    left: 430px;
    margin-top: 50px;
  }

  .testimonials-container {
    width: 50%;
    max-width: 100%;
    margin: auto;
  }

  .contact-container {
    width: 50%;
    max-width: 100%;
    margin: auto;
    margin-bottom: -200px;
    margin-top: 100px;
  }

  .footer-container {
    width: 100%;
    max-width: 100%;
    margin: auto;
  }
}

@media only screen and (min-width: 1600px) {
  .landing-page-heading-after-auth {
    margin-left: 5%;
    width: fit-content;
    padding: 20px;
    max-width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
  }

  .landing-page-heading-before-auth {
    margin-left: 5%;
    width: fit-content;
    max-width: 100%;
    display: flex;
    padding: 50px;
    flex-direction: column;
  }

  .mission-statement {
    border-radius: 20px;
    padding: 15px;
  }

  .about-title {
    text-align: center;
    position: relative;
    left: -10px;
  }

  #demo-button {
    margin: auto;
    margin-left: 300px;
    width: fit-content;
    max-width: 100%;
    margin-top: 100px;
    margin-bottom: -200px;
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: 90px !important;
    color: blueviolet;
    text-shadow: 0 1px 15px rgb(0, 0, 0), 0 1px 15px;
  }

  h2 {
    font-size: 40px;
    color: white;
  }

  h3 {
    font-size: 30px;
    color: white;
  }

  .home-container {
    width: 2000px;
    margin: auto;
    max-width: 100%;
    margin-top: -200px;
    height: fit-content;
    min-height: 90vh;
  }

  .developer-word {
    color: blueviolet;
  }

  #device-mockups-before-auth {
    width: 60%;
    max-width: 100%;
    display: flex;
    margin-left: 630px;
    margin-top: -30px;
    -webkit-filter: drop-shadow(2px 5px 21px #222);
    filter: drop-shadow(2px 5px 21px #222);
  }

  #device-mockups-after-auth {
    width: 60%;
    max-width: 100%;
    display: flex;
    margin-left: 630px;
    -webkit-filter: drop-shadow(2px 5px 21px #222);
    filter: drop-shadow(2px 5px 21px #222);
  }

  .fade-in-image {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-o-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-ms-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .about-container {
    width: 50%;
    max-width: 100%;
    margin: auto;
    position: relative;
    left: 500px;
    margin-top: 50px;
  }

  .testimonials-container {
    width: 50%;
    max-width: 100%;
    margin: auto;
  }

  .contact-container {
    width: 50%;
    max-width: 100%;
    margin: auto;
    margin-bottom: -200px;
    margin-top: 100px;
  }

  .footer-container {
    width: 100%;
    max-width: 100%;
    margin: auto;
  }
}
