/* BEGINNING OF SMALL MOBILE STYLING */

@media only screen and (max-width: 600px) {
.navbar-container {
  width: 100%;
  max-width: 100%;
}

.navbar {
  width: 150%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  color: white;
}

}

/* END OF MOBILE STYLING */

/* BEGINNING OF MODERN MOBILE STYLING */

@media only screen and (min-width: 600px) {
.navbar-container {
  width: 100%;
  max-width: 100%;
}

.navbar {
  width: 150%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  color: white;
}

}

/* END OF MODERN MOBILE SYLING */

/* BEGINNING OF TABLET STYLING */

@media only screen and (min-width: 768px) {
.navbar-container {
  width: 100%;
  max-width: 100%;
}

.navbar {
  width: 150%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  color: white;
}
}

/* END OF TABLET STYLING */

/* BEGINNING OF SMALL LAPTOP SCREENS STYLING */

@media only screen and (min-width: 992px) {
.navbar-container {
  width: 100%;
  max-width: 100%;
}

.navbar {
  width: 150%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  color: white;
}
}

/* END OF SMALL LAPTOP SCREEN STYLING */

/* BEGINNING OF DESKTOPS & LARGER SCREEN STYLING */

@media only screen and (min-width: 1200px) {
 .navbar-container{
   z-index: 1000;
    width: 100%;
    max-width: 100%;
  }


  .navbar{
    width: 150%;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 111;
  }

  html{
    font-size: 18px;
  }

.profile-container {
  width: min-content;
  max-width: 100%;
  height: fit-content;
}


.profile-image {
  width: 40px;
  height: 40px;
  margin-left: -50px;
  margin: auto;
  border-radius: 105px;
}

.profile-name {
  font-size: 18px;
  text-align: center;
  margin: auto;
  margin-left: 10px;
  justify-content: center;
  align-items: center;
  color: black;
}

.dashboard-button {
  font-size: 16px;
  background-color: rgba(109, 247, 151, 0.618);
  border: rgb(102, 110, 102) solid 1px;
  border-radius: 10px;
  margin-left: 30px;
  width: fit-content;
  max-width: 100%;
}

  .login-button {
    font-size: 16px;
    color: white;
    background-color: #5aff704a;
    border: 1px solid #00ff1a;
    border-radius: 10px;
    margin-left: 15px;
  }

  .logout-button{
    font-size: 16px;
    color: white;
    background-color: #ff5a5a4a;
    border: 1px solid #ff0000;
    border-radius: 10px;
    margin-left: 15px;
  }

  .nav-about-btn{
        font-size: 16px;
        color: rgb(255, 34, 34);
        background-color: #ffffff27;
        border: 1px solid #ffffff;
        border-radius: 10px;
        margin-left: 15px;
  }

  .nav-dashboard-btn{
        font-size: 16px;
        color: white;
        background-color: #ffffff27;
        border: 1px solid #ffffff;
        border-radius: 10px;
        margin-left: 15px;
  }

  .nav-contact-btn{
        font-size: 16px;
        color: white;
        background-color: #ffffff27;
        border: 1px solid #ffffff;
        border-radius: 10px;
        margin-left: 15px;
  }
}

/* END OF DESKTOP & LARGER SCREEN STYLING */






