a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

Navbar{
  color: white;
}

#navbar-brand{
  color: white;
  text-shadow:  0 2px 10px #000, 0 2px 20px 
}

.navbar-toggler{
  background-color: rgba(255, 255, 255, 0.383);
  color: white;
}

#navbar-links{
  color: white;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}



