.bug-status-information {
  text-align: center;
}

.bug-status-title {
  color: white;
  font-size: 22px;
}

.status-text {
  color: white;
  font-size: 18px;
}

.newbug-value {
  color: green;
  font-size: 26px;
}

.inprogress-value {
  color: #ffc107;
  font-size: 26px;
}

.squashed-value {
  color: #ff1307;
  font-size: 26px;
}
