.status-card {
  color: white;
}

.inprogress-value {
  margin: auto;
  text-align: center;
  font-size: 60px;
  color: rgb(223, 252, 0);
}

.newbug-value {
  margin: auto;
  text-align: center;
  font-size: 60px;
  color: rgb(6, 178, 63);
}

.squashed-value {
  margin: auto;
  text-align: center;
  font-size: 60px;
  color: rgb(255, 0, 0);
}
